@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --header-height: 64px;
}
header {
  height: var(--header-height);
}

main {
  margin-top: var(--header-height);
}

/* Header */
.active-link,
.hover-link:hover {
  position: relative;
  color: white;
  font-weight: bold;
  transition: color 0.7s ease-in-out;
}

.active-link::after,
.hover-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ff0000;
  bottom: -18px;
  left: 0;
  transition: bottom 0.7s ease-in-out, height 0.7s ease-in-out; 
}

@media (max-width: 768px) {
  .active-link::after,
  .hover-link:hover::after {
    bottom: -0.3rem;
  }
}

@media (max-width: 480px) {
  .active-link::after,
  .hover-link:hover::after {
    bottom: -0.5rem;
  }
}

/* SearchBar */
.search {
  text-align: center;
}